<app-header></app-header>
<h1>Angular 12</h1>
<br /><br />
<!-- <h1 *ngIf="able; then ifBlock else elseBlock" ></h1>
<ng-template #ifBlock>
    <h1>Condition No.1</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>Condition No.2</h1>
</ng-template>

<ng-template [ngIf]="kite==='red'">
    <h1 style="color: red;">The color is red.</h1>
</ng-template>
<ng-template [ngIf]="kite==='green'">
    <h1 style="color: green;">The color is green.</h1>
</ng-template>
<ng-template [ngIf]="kite==='yellowgreen'">
    <h1 style="color: yellowgreen;">The color is yellowgreen.</h1>
</ng-template>

<div [ngSwitch]="smile">
<h1 *ngSwitchCase="'red'" style="color:red;">Color</h1>
<h1 *ngSwitchCase="'green'" style="color:green;">Color</h1>
<h1 *ngSwitchCase="'yellow'" style="color:yellow;">Color</h1>
<h1 *ngSwitchCase="'orange'" style="color:orange;">Color</h1>
<h1 *ngSwitchCase="'grey'" style="color:grey;">Color</h1>
<h1 *ngSwitchDefault style="color:black;">Unknown Color</h1>
</div>


<h1 *ngFor="let i of forever" style="color:skyblue;">{{i}}</h1>


<h1 *ngFor="let i of foreverDetails" style="color:orangered;">{{i.group}} -- {{i.order}} -- {{i.name}}</h1>


<ul *ngFor="let i of okaythen">
    <li>{{i.name}}</li>
    <li>{{i.num}}</li>
    <li>Social Accounts</li>
    <ul *ngFor="let j of i.group">
        <li>{{j}}</li>
    </ul>
</ul> -->
<!-- <h1>{{data}}</h1>
<h1>{{dataprint()}}</h1>
<h1>{{title=="first_blog_1"}}</h1>
<h1>{{2-2/4}}</h1>
<h1 class="{{title}}">{{title}}</h1>
<app-login></app-login>
<app-great></app-great>
<app-sign-in></app-sign-in>
<app-sign-in></app-sign-in>
<button (click)="getNum(123,'hero')">Click</button>
<br><br>
<input type="text" #role (keyup)="getData(role.value)" placeholder="Keyup Value" />
<br><br>
<input type="text" #role1 (keydown)="getData(role1.value)" placeholder="Keydown Value" />
<br><br>
<input type="text" #role2 (blur)="getData(role2.value)" placeholder="Blur Value" />
<br><br>
<input type="text" #role3 (input)="getData(role3.value)" placeholder="Input Value" />
<br><br>
<h1 (mouseover)="getData('over')">MouseOver</h1>
<br><br>
<h1 (mouseleave)="getData('leave')">MouseLeave</h1>
<br><br>
<input type="text" #box placeholder="Enter Name" name="name" />
<button (click)="getValue(box.value)">Click</button>
<p>Name : {{displayValue}}</p>
<button (click)="counter('minus')">--</button>
<p>Count : {{count}}</p>
<button (click)="counter('add')">++</button>
<br /><br />
<input type="text" #pro name="user-name" value={{name}} disabled={{disable}} />
<br /><br />
<button (click)="proxy(pro.value)">Enable</button>
<br /><br />
<button (click)="proxy_1(pro.value)">Disable</button>
<br /><br />
<input type="text"  name="user-name" [value]=name [disabled]=disable />
<button (click)="proxy('pro')">Disable</button> -->



<form #basicForm="ngForm" (ngSubmit) = "getForm(basicForm.value)">
<input type="text" ngModel placeholder="name" name="name">
<br /><br />
<input type="text" ngModel placeholder="email" name="email">
<br /><br />
<input type="text" ngModel placeholder="password" name="password">
<br /><br />
<button>Register</button>
</form>

<ul>
    <li>{{userData.name}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul>

<!-- <button (click)="getdelete()">On & Off</button>
<h1 *ngIf="off">
    Hide & Seek
</h1> -->

<!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
	<ngb-panel title="Simple">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
	<ngb-panel>
		<ng-template ngbPanelTitle>
			<span>&#9733; <b>Fancy</b> title &#9733;</span>
		</ng-template>
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
	<ngb-panel title="Disabled" [disabled]="true">
		<ng-template ngbPanelContent>
			Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
			officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
			moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
			keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
			vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
			heard of them accusamus labore sustainable VHS.
		</ng-template>
	</ngb-panel>
</ngb-accordion> -->

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br /><br />
<h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button>Basic</button>
  <button mat-button color="primary" style="color: aqua;">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button [color]="'primary'">Primary</button>
  <button mat-raised-button [color]="'accent'">Accent</button>
  <button  color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<h3>Stroked Buttons</h3>
<div class="example-button-row">
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button routerLink=".">Link</a>
</div>

<h3>Flat Buttons</h3>
<div class="example-button-row">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>

<h3>Icon Buttons</h3>
<div class="example-button-row">
  <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
  </button>
  <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon">
  </button>
  <button mat-icon-button matTooltip="Accent" color="accent" aria-label="Example icon-button with a heart icon">
  </button>
  <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon">
  </button>
  <div matTooltip="Disabled" class="example-disabled">
    <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
    </button>
  </div>
  <a mat-icon-button matTooltip="Lik" routerLink="." aria-label="Example icon-button with a heart icon">
  </a>
</div>

<h3>Fab Buttons</h3>
<div class="example-button-row">
  <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
  </button>
  <button mat-fab matTooltip="Accent" color="accent" aria-label="Example fab with a heart icon">
  </button>
  <button mat-fab matTooltip="Warn" color="warn" aria-label="Example fab with a heart icon">
  </button>
  <div matTooltip="Disabled" class="example-disabled">
    <button mat-fab disabled aria-label="Example fab with a heart icon">
    </button>
  </div>
  <a mat-fab matTooltip="Link" routerLink="." aria-label="Example fab with a heart icon">
  </a>
</div>

<h3>Mini Fab Buttons</h3>
<div class="example-button-row">
  <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon">
  </button>
  <button mat-mini-fab matTooltip="Accent" color="accent" aria-label="Example mini fab with a heart icon">
  </button>
  <button mat-mini-fab matTooltip="Warn" color="warn" aria-label="Example mini fab with a heart icon">
  </button>
  <div matTooltip="Disabled" class="example-disabled">
    <button mat-mini-fab disabled aria-label="Example mini fab with a heart icon">
    </button>
  </div>
  <a mat-mini-fab matTooltip="Link" routerLink="." aria-label="Example mini fab with a heart icon">
  </a>
</div>

<h3>Extended Fab</h3>
<div class="example-button-row">
  <button mat-fab extended color="primary">
   
    Primary
  </button>
  <button mat-fab extended color="accent">

    Accent
  </button>
  <button mat-fab extended color="warn">
   
    Warn
  </button>
  <button mat-fab extended disabled>
 
    Disabled
  </button>
  <a mat-fab extended routerLink=".">

    Link
  </a>
</div> -->

<!-- <input type="text" placeholder="Text" #tie>
<br /><br />
<button (click)="addTask(tie.value)">Click</button>

<ul *ngFor="let item of list">
    <li>{{item.name}} <button (click)="removeTask(item.id)">Remove</button></li>
</ul> -->

<!-- <app-child [done] = "nice" ></app-child>
<button (click)="parentChild()">Random</button> -->

<!-- <ul *ngFor = "let user of reuseArray" >
  <app-reuse-item [user] = "user"></app-reuse-item>
</ul> -->

<!-- <li>{{goodV}}</li>
<app-child (updateValueEvent) = "updateValue($event)" ></app-child>
<br /><br />
<label for="print" >Enter text to see two-way binding. </label>
<br />
<input type="text" [(ngModel)] = 'business'>
<br /><br />
<h1>{{business}}</h1> -->

<!-- <input type="number" placeholder="number" #allow>
<button (click)="testFun(allow.value)">Enter</button>
<br /><br />
<h1>{{today | date : 'fullDate'}}</h1>

<h1>{{title | uppercase}}</h1>
<h1>{{title | slice : 2 : 4  |  uppercase}}</h1>
<h1>{{reuseArray | json | uppercase}}</h1>
<h1>{{2.3000 |number : '2.3'}}</h1>
<h1>{{20 | currency : 'USD'}}</h1>
<h1>{{226.67 | usdPkr : 15 }}</h1> -->

<!-- <form #loginForm = "ngForm" (ngSubmit)="getFormData(loginForm.value)" >
<br /><br />
<input type="text" placeholder="Email" name="email" ngModel>
<br /><br />
<input type="text" placeholder="password" name="password" ngModel>
<br /><br />
<button>Login</button>
</form>
<br /><br />
<button (click)="getFormData(loginForm.value)">login-try</button>
<br /><br />
<ul>
  <li>{{printFormData.email}}</li>
  <li>{{printFormData.password}}</li>
</ul> -->

<form [formGroup] = "loginGroup" (ngSubmit) = "getFormData(loginGroup.value)">


  <input type="text" placeholder="Name" formControlName="name1">
  <br />
  <span *ngIf="name1 && name1.invalid && name1.touched">The field is not valid</span>
  <br /><br />
  <input type="text" placeholder="Password" formControlName="password">
  <br />
  <span *ngIf="password && password.invalid && password.touched">The field is not valid</span>
  <br /><br />
  <input type="email" placeholder="Email" formControlName="email">
  <br />
  <span *ngIf="email && email.invalid && email.touched">The field is not valid</span>
  <br /><br />
  <button [disabled] = "loginGroup.invalid">Login</button>
</form>

<h1>How are you!</h1>
<br /><br />
<h1 appGreenEl>I am fine.</h1>
<br /><br />
<h1>How are you!</h1>
<br /><br />
<h1 appGreenEl>I am fine.</h1>
<br /><br />
<h1>How are you!</h1>
<br /><br />
<h1 appGreenEl>I am fine.</h1>
<br /><br />

