<h1>Angular 12 {{title}}</h1>
<h1 *ngIf="able; then ifBlock else elseBlock" ></h1>
<ng-template #ifBlock>
    <h1>Condition No.1</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>Condition No.2</h1>
</ng-template>

<ng-template [ngIf]="kite==='red'">
    <h1 style="color: red;">The color is red.</h1>
</ng-template>
<ng-template [ngIf]="kite==='green'">
    <h1 style="color: green;">The color is green.</h1>
</ng-template>
<ng-template [ngIf]="kite==='yellowgreen'">
    <h1 style="color: yellowgreen;">The color is yellowgreen.</h1>
</ng-template>

<div [ngSwitch]="smile">
<h1 *ngSwitchCase="'red'" style="color:red;">Color</h1>
<h1 *ngSwitchCase="'green'" style="color:green;">Color</h1>
<h1 *ngSwitchCase="'yellow'" style="color:yellow;">Color</h1>
<h1 *ngSwitchCase="'orange'" style="color:orange;">Color</h1>
<h1 *ngSwitchCase="'grey'" style="color:grey;">Color</h1>
<h1 *ngSwitchDefault style="color:black;">Unknown Color</h1>
</div>


<h1 *ngFor="let i of forever" style="color:skyblue;">{{i}}</h1>


<h1 *ngFor="let i of foreverDetails" style="color:orangered;">{{i.group}} -- {{i.order}} -- {{i.name}}</h1>


<ul *ngFor="let i of okaythen">
    <li>{{i.name}}</li>
    <li>{{i.num}}</li>
    <li>Social Accounts</li>
    <ul *ngFor="let j of i.group">
        <li>{{j}}</li>
    </ul>
</ul>
<!-- <h1>{{data}}</h1>
<h1>{{dataprint()}}</h1>
<h1>{{title=="first_blog_1"}}</h1>
<h1>{{2-2/4}}</h1>
<h1 class="{{title}}">{{title}}</h1>
<app-login></app-login>
<app-great></app-great>
<app-sign-in></app-sign-in>
<app-sign-in></app-sign-in>
<button (click)="getNum(123,'hero')">Click</button>
<br><br>
<input type="text" #role (keyup)="getData(role.value)" placeholder="Keyup Value" />
<br><br>
<input type="text" #role1 (keydown)="getData(role1.value)" placeholder="Keydown Value" />
<br><br>
<input type="text" #role2 (blur)="getData(role2.value)" placeholder="Blur Value" />
<br><br>
<input type="text" #role3 (input)="getData(role3.value)" placeholder="Input Value" />
<br><br>
<h1 (mouseover)="getData('over')">MouseOver</h1>
<br><br>
<h1 (mouseleave)="getData('leave')">MouseLeave</h1>
<br><br>
<input type="text" #box placeholder="Enter Name" name="name" />
<button (click)="getValue(box.value)">Click</button>
<p>Name : {{displayValue}}</p>
<button (click)="counter('minus')">--</button>
<p>Count : {{count}}</p>
<button (click)="counter('add')">++</button>
<br /><br />
<input type="text" #pro name="user-name" value={{name}} disabled={{disable}} />
<br /><br />
<button (click)="proxy(pro.value)">Enable</button>
<br /><br />
<button (click)="proxy_1(pro.value)">Disable</button>
<br /><br />
<input type="text"  name="user-name" [value]=name [disabled]=disable />
<button (click)="proxy('pro')">Disable</button> -->


